    <%= simple_form_for @cvm, method: :patch do |f| %>
<p>
          <h3><b>Name:</b></h3>
            <div class="left-col">
              <b>First *</b>
              <%= f.input :fname, label: false, :input_html => {:style=> 'width: 300px'}, placeholder: "First of your name" %>
            </div>

            <div class="center-col">
              <b>Middle </b>
              <%= f.input :mname, label: false,:input_html => {:style=> 'width: 300px'}, placeholder: "Middle of your name" %>
            </div>

            <div class="right-col">
              <b>Last *</b>
              <%= f.input :lname, label: false,:input_html => {:style=> 'width: 300px'}, placeholder: "Your Family Name"%>
            </div>
        </p>
        <br><br><br>

        <p>
         <h3><b>Address: </b></h3>
            <div class="left-col">
              <b>Street *</b>
              <%= f.input :street, label:false, :input_html => {:style=> 'width: 300px'},placeholder: "Street Name" %>
            </div>

            <div class="center-col">
              <b>District *</b>
              <%= f.input :district, label:false, :input_html => {:style=> 'width: 300px'}, placeholder: "District" %>
            </div>

            <div class="right-col">
              <b>Country *</b>
              <%= f.input :country, label:false, :input_html => {:style=> 'width: 300px'}, placeholder: "Country", selected: 'Nepal' %>
            </div>
        </p>
        <br><br><br>
        <p>
          <h3><b>Phone: </b></h3>
            <div class="left-col1">
              <b>Landline *</b>
              <%= f.input :land, label:false, :input_html => {:style=> 'width: 465px'}, placeholder: "Landline Number "%>
            </div>
            <div class="right-col1">
              <b>Mobile *</b>
            <%= f.input :mobile,  label:false, :input_html => {:style=> 'width: 465px'}, placeholder: "Mobile Number " %>
            </div>
        </p>
        <br><br><br>
        <p>
            <div class="left-col1">
              <b>Email *</b>
              <%= f.input :email, label:false, :input_html => {:style=> 'width: 465px'}, placeholder: "yourdummyemail@exampledomain.com" %>
            </div>

           <div class="right-col1">
             <b>Website   *</b>
              <%= f.input :website, label:false, :input_html => {:style=> 'width: 465px'}, placeholder: "http://exampledomain.com" %>
            </div>
        </p>
        <br><br><br>
        <p>
          <h3><b>Education: </b></h3>

          <div class="edu">

          <%= f.simple_fields_for :educations do |education| %>
             <%= render 'education_fields', :f=>education %>
        <% end %>
      </div>
         <div class='links'>
          <br>
      <%= link_to_add_association 'Add more', f, :educations, class: 'btn btn-primary', data: { association_insertion_node: '.edu', association_insertion_method: :append }%>
    </div>


        </p>

        <p>
          <h3><b>Experience: </b></h3>
          <h4><i>Project</i></h4>
          <div class="pro">
          <%= f.simple_fields_for :projects do |project| %>
             <%= render 'project_fields', :f=>project %>
        <% end %>
      </div>
         <div class='links'>
          <br>
      <%= link_to_add_association 'Add +1', f, :projects, class: 'btn btn-primary', data: { association_insertion_node: '.pro', association_insertion_method: :append }%>
    </div>


        </p>


        <br>
        <p>
           <b>Skill *</b>
            <div id="newel1">
                <div class="skill">
                    <%= f.input :skill, label: false, input_html: { maxlength: 100 }, placeholder: "Skill!"%>
                </div>
            </div>
        </p>
        <br>

      <p>
       </p>
        <p>
           <b>Interest *</b>
            <div id="newel3">
              <div class="interest">
              <%= f.input :interest, label: false, input_html: { maxlength: 100 }, placeholder: "Interest" %>
              </div>
            </div>
        </p>
        <p>
          <%= f.submit "Submit", class: 'btn btn-primary' %>
        </p>
  <% end %>

