          <div class="nested-fields">
              <div class="left-col2">
                  <b>Name *</b>
                  <%= f.input :company, label:false, :input_html => {:style=> 'width: 80px'}, placeholder: "XYZ" %>
              </div>
              <div class="right-col4">
                  <b>Position *</b>
                  <%= f.input :position, label:false, :input_html => {:style=> 'width: 220px'}, placeholder: "Branch Manager" %>
              </div>

              <div class="center-col3">
                  <b>Job Description*</b>
                  <%= f.input :jobdetail, label:false, :input_html => {:style=> 'width: 320px'},  placeholder: "Worked as Branch Manager in Banepa" %>
              </div>

              <div class="center-col4">
                  <b>From</b>
                  <%= f.input :startdate, as: :string, label:false, :input_html => {:style=> 'width: 120px' , 'data-provide': 'datepicker'}, placeholder: "02/12/2015" %>
              </div>
              <div id="update2" class="update2">
              <div class="right-col3">
                  <b>To</b>
                  <%= f.input :enddate, as: :string, label:false, :input_html => {:style=> 'width: 120px' , 'data-provide': 'datepicker'},placeholder: "07/06/2017" %>
              </div>
            </div>
            <br><br><br><br><br>
                <input type="checkbox" id="checkbox2"/> I am currently working here.
             <br><br>
                 <%= link_to_remove_association 'Remove Company', f, class: 'btn btn-danger btn-xs' %>
                  <br><br>
                  <%= f.simple_fields_for :projects do |project| %>
                  <%= render 'project_fields', :f =>project %>
                 <%end%>
              <div class="links">
              <%= link_to_add_association 'Add Projects', f, :projects, class: 'btn btn-primary btn-xs'%>
              </div>
              <script>
                  $('#checkbox2').change(function(){
                  if (this.checked) {
                      $('#update2').fadeOut('slow');
                  } else {
                    $('#update2').fadeIn('slow');
                    }
                });
                </script>
          </div>

