          <div class="nested-fields">
              <div class="left-col3">
                  <b>Company Name *</b>
                  <%= f.input :company, label:false, :input_html => {:style=> 'width: 320px'}, placeholder: " Name" %>
              </div>

              <div class="center-col3">
                  <b>Job Description*</b>
                  <%= f.input :jobdetail, label:false, :input_html => {:style=> 'width: 320px'},  placeholder: "Job Description " %>
              </div>

              <div class="center-col4">
                  <b>Join Date</b>
                  <%= f.input :startdate, :id => "datetimepicker1", label:false, :input_html => {:style=> 'width: 120px'}, placeholder: "Start Date" %>
              </div>

              <div class="right-col3">
                  <b>Resign Date </b>
                  <%= f.input :enddate, :id => "datetimepicker1", label:false, :input_html => {:style=> 'width: 120px'},placeholder: "End Date" %>
              </div>
                 <%= link_to_remove_association 'Remove Company', f, class: 'btn btn-danger btn-xs' %>
                  <br> <br>
                  <%= f.simple_fields_for :projects do |project| %>
                  <%= render 'project_fields', :f =>project %>
                  <%end%>
              <div class="links">
              <%= link_to_add_association 'Add Projects', f, :projects, class: 'btn btn-primary btn-xs'%>
              </div>
          </div>

