   <h2><center><u>CV Details</u></center></h2>
    <%= simple_form_for @cvm do |f| %>
        <p>
          <h3><b>Name:</b></h3>
            <div class="left-col">
              <b>First *</b>
              <%= f.input :fname, label: false, :input_html => {:style=> 'width: 300px'}, placeholder: "First of your name" %>
            </div>

            <div class="center-col">
              <b>Middle </b>
              <%= f.input :mname, label: false,:input_html => {:style=> 'width: 300px'}, placeholder: "Middle of your name" %>
            </div>

            <div class="right-col">
              <b>Last *</b>
              <%= f.input :lname, label: false,:input_html => {:style=> 'width: 300px'}, placeholder: "Your Family Name"%>
            </div>
        </p>
        <br><br><br>

        <p>
         <h3><b>Address: </b></h3>
            <div class="left-col">
              <b>Street *</b>
              <%= f.input :street, label:false, :input_html => {:style=> 'width: 300px'},placeholder: "Street Name" %>
            </div>

            <div class="center-col">
              <b>District *</b>
              <%= f.input :district, label:false, :input_html => {:style=> 'width: 300px'}, placeholder: "District" %>
            </div>

            <div class="right-col">
              <b>Country *</b>
              <%= f.input :country, label:false, :input_html => {:style=> 'width: 300px'}, placeholder: "Country", selected: 'Nepal' %>
            </div>
        </p>
        <br><br><br>
        <p>
          <h3><b>Phone: </b></h3>
            <div class="left-col1">
              <b>Landline *</b>
              <%= f.input :land, label:false, :input_html => {:style=> 'width: 465px'}, placeholder: "Landline Number Starting like 01-"%>
            </div>
            <div class="right-col1">
              <b>Mobile *</b>
            <%= f.input :mobile,  label:false, :input_html => {:style=> 'width: 465px'}, placeholder: "Mobile Number Starting like +977" %>
            </div>
        </p>
        <br><br><br>
        <p>
            <div class="left-col1">
              <b>Email *</b>
              <%= f.input :email, label:false, :input_html => {:style=> 'width: 465px'}, placeholder: "yourdummyemail@exampledomain.com" %>
            </div>

           <div class="right-col1">
             <b>Website   *</b>
              <%= f.input :website, label:false, :input_html => {:style=> 'width: 465px'}, placeholder: "http://exampledomain.com" %>
            </div>
        </p>
        <br><br><br>
        <p>
          <h3><b>Education: </b></h3>
            <div id="newel">
              <div class="education">
                <div class="left-col2">
                  <b>Level *</b>
                  <%= f.input :level, label:false, :input_html => {:style=> 'width: 225px'}, placeholder: "Education Level" %>
                </div>

                <div class="center-col1">
                  <b>Institute *</b>
                  <%= f.input :institute, label:false, :input_html => {:style=> 'width: 225px'},  placeholder: "Enrolled Institute " %>
                </div>

                <div class="center-col2">
                  <b>Year *</b>
                  <%= f.input :year, label:false, :input_html => {:style=> 'width: 225px'}, placeholder: " Passed Year in AD" %>
                </div>

                <div class="right-col2"><b>Percentage *</b>
                  <%= f.input :percentage, label:false, :input_html => {:style=> 'width: 225px'},placeholder: "Percentage Achieved" %>
                </div>
            </div>
          </div>
          <button id='add_field' ><a href="javascript:add_field()">+1 Education</a></button>
          <br>
        </p>
        <br>
        <p>
           <b>Skill *</b>
            <div id="newel1">
                <div class="skill">
                    <%= f.input :skill, label: false, placeholder: "Skill you possess!"%>
                </div>
            </div>
            <button id='add_field' ><a href="javascript:add_field1()">+1 Skill</a></button>
        </p>
        <br>
        <p>
          <b>Project *</b>
            <div id="newel2">
                <div class="project">
                    <%= f.input :project, label: false, placeholder: "Showcase of your project you have completed!" %>
                </div>
            </div>
          <button id='add_field' ><a href="javascript:add_field2()">+1 project</a></button>
        </p>
        <br>
        <p>
           <b>Interest *</b>
            <div id="newel3">
              <div class="interest">
              <%= f.input :interest, label: false, placeholder: "Potential area of Interest" %>
              </div>
            </div>
          <button id='add_field' ><a href="javascript:add_field3()">+1 interest</a></button>
        </p>
        <p>
          <%= f.submit "Submit", class: 'btn btn-primary' %>
        </p>
  <% end %>
