    <center>
    <h1>Please fill your details</h1>
    </center>
    <%= simple_form_for @cvm,  method: :patch do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :website %>
    <%= f.input :skill %>
    <%= f.input :project %>
    <%= f.input :interest %>
    <div class="modal-footer">
    <%= f.submit 'Update CV details', class: 'btn btn-primary' %>
    <% end %>
    </div>
