<center>
    <h1>Resume </h1></center>
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Name: <%= @cvm.name %></h3>
        <h3>Adress: <%= @cvm.address %></h3>
        <h3>Phone: <%= @cvm.phone %></h3>
        <h3>Email: <%= @cvm.email %></h3>
        <h3>Website: <%= @cvm.website %></h3>
        <h3>Skill: <%= @cvm.skill %></h3>
        <h3>Project: <%= @cvm.project %></h3>
        <h3>Interest: <%= @cvm.interest %></h3>
    </div>
</div>
<p>cdrrazan
    <%= Date.today.year %>. PDF generated via WickedPDF </p>
