<center>
    <h1>CV Details!</h1>
</center>
<div class="panel panel-default">
    <div class="panel-body">
        <blockquote>
            <h3>Name: <%= @cvm.name %></h3>
            <h3>Adress: <%= @cvm.address %></h3>
            <h3>Phone: <%= @cvm.phone %></h3>
            <h3>Email: <%= @cvm.email %></h3>
            <h3>Education: <%= @cvm.education %></h3>
            <h3>Website: <%= @cvm.website %></h3>
            <h3>Skill: <%= @cvm.skill %></h3>
            <h3>Project: <%= @cvm.project %></h3>
            <h3>Interest: <%= @cvm.interest %></h3>
        </blockquote>
        <%= link_to "Edit Details", edit_cvm_path(@cvm), class: 'btn btn-primary'%>
        <%= link_to "Delete this record", cvm_path(@cvm), method: :delete, class: 'btn btn-danger'%>
        <br>
        <center>
            <%= link_to "Download CV in PDF format", cvm_path(@cvm, format: "pdf"), class: 'btn btn-primary'%>
        </center>
    </div>
</div>
<br>
<br>
<br>
