<center>
  <h1>Resume Details!</h1>
</center>
<div class="panel panel-default">
  <div class="panel-body">
    <blockquote>
      <h3>
        <b>Name:</b> <%= "#{@resume.fname} #{@resume.mname} #{@resume.lname}" %>
      </h3>
      <h3>
        <b>Adress:</b> <%= "#{@resume.street}, #{@resume.district}, #{@resume.country}" %>
      </h3>
      <h3>
        <b>Phone:</b> <%= "Landline: #{@resume.land}, Mobile: #{@resume.mobile}" %>
      </h3>
      <h3><b>Email:</b> <%= @resume.email %></h3>
      <h3><b>Website:</b> <%= "https://#{@resume.website}" %></h3>
      <h3><b>Education:</b><br></h3>
      <h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Level</th>
            <th>Institute</th>
            <th>Year</th>
            <th>Percentage</th>
          </tr>
          </thead>
          <tbody>
          <% @resume.educations.each do |education| %>
            <tr>
              <td><%= education.level %></td>
              <td><%= education.institute %></td>
              <td><%= education.year %></td>
              <td><%= education.percentage %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <br>
      </h4>
      <h3><b>Experience: </b></h3>
      <h4>
        <table class="table table-striped">
          <% @resume.experiences.each do |exp| %>
            <thead>
            <tr>
              <th>Company</th>
              <th>Position</th>
              <th>Detail</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= exp.company %></td>
              <td><%= exp.position %></td>
              <td><%= exp.jobdetail %></td>
              <td><%= exp.startdate %></td>
              <td><%= exp.enddate %></td>
            </tr>
            </tbody>
            <% exp.projects.each do |pro| %>
              <thead>
              <tr>
                <th>Project Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= pro.pname %></td>
                <td><%= pro.description %></td>
                <td><%= pro.startdate %></td>
                <td><%= pro.enddate %></td>
              </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      </h4>
      <h3><b>Skill:</b> <%= @resume.skill %></h3>
      <h3><b>Interest:</b> <%= @resume.interest %></h3>
    </blockquote>
    <br>
    <%= link_to "Edit Details", edit_resume_path(@resume), class: 'btn btn-primary' %>
    <%= link_to "Delete this record", resume_path(@resume), method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
<center>
  <%= link_to "Download Resume in PDF format", resume_path(@resume, format: "pdf"), class: 'btn btn-primary' %>
</center>
<br>
<br>
<br>
